section.default{
  padding: 80px 0;
}

.btn-spinner {
  position: relative;
  
}


.btn-spinner::before {
    content: "\f110" !important;
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute !important;
    top: 19%!important;
    right: 9px!important;
    transform: translateY(-50%);
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    left: auto !important;
    bottom: auto !important;
    height: auto !important;
    width: auto !important;
    background: transparent !important;
}
/**
  ** menu 
**/
.navArea {
    position: fixed;
    top: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    height: 100vh;
    width: 300px;
    background: #191d2b;
    z-index: 10;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    overflow-x: hidden;
}
.navHeader-img {
    padding: 20px 0;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2e344e;
    background: linear-gradient(135deg,#3586e8,#7ab4fb,#3586e8,#ccc,#7ab4fb);
    position: relative;
    height: 140px;
    background-size: 400% 400% !important;
}
.navHeader-img:before, .navHeader-img:after {
    content: '';
    position: absolute;
    left: -17%;
    bottom: -50%;
    width: 100%;
    height: 70%;
    background: #191d2b;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    z-index: 3;
}

.navHeader-img:after {
    left: auto;
    right: -17%;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
.user_img_thumb {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    border-radius: 100%;
    position: absolute;
    bottom: -25px;
    left: 30%;
    z-index: 999;
    padding: 8px;
    background-size: 400% 400% !important;
}


.user_img_thumb {
    background: linear-gradient(135deg,#3586e8,#7ab4fb,#3586e8,#ccc,#7ab4fb);
}
.user_img_thumb img{
    border-radius: 100%;
}
.navIner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navMenu{
    width: 100%;
    z-index: 9;
}
.navMenu ul{
     width: 100%;
}
.navMenu ul li{
    list-style: none;
    text-align: center;
    display: block;

}
.navMenu ul li a{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding: 10px 0;
    color: #a4acc4;
    font-weight: 600;
    position: relative;
}


.navMenu ul li a.active{
    color: #fff;
    position: relative;   
    
}
.navMenu ul li a.active:hover{
    color: #fff;  
    
}
.navMenu ul li a:hover {
    color: #037fff;
}

.navMenu ul li a, .navMenu ul li a:before {
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.navMenu ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    width: 0;
    background: rgba(3,127,255,.2);
    visibility: hidden;
}
.navMenu ul li a:hover:before {
    width: 100%;
    visibility: visible;
}
.navMenu ul li a.active:before {
    background: #037fff;
    width: 100%;
    visibility: visible;
    z-index: -1;
    color: 
}

/* home page banner #hero section
================================================== */

#hero {
  width: 100%;
  position: relative;
  padding: 120px 0 0 0;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  color: rgba(255, 255, 255, 0.8);
}

#hero h1 span {
    color: #fff;
    font-family: Montserrat;
    display: block;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 0;
    transition: 0.5s;
    color: #fff;
    background: rgba(41, 199, 172, .4);
    border: 1px solid rgba(41, 199, 172, .4);
}

#hero .btn-get-started:hover {
  background: rgba(41, 199, 172, 1);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hero-waves svg {
    overflow: hidden;
    vertical-align: middle;
}

.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: absolute;
    bottom: 0;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


/**
  ***  play btn
**/ 
.video_play_btn .play-btn {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.play-btn i {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: normal;
}

.video_play_btn .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 153, 97, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

section.hero-banner.home_section.home_banner.video_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}
a.youtube_play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.topHome_banner{
  background-position: left center !important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  position: relative;
  height: 100%;
}
.homeTopBanner {
    min-height: 75vh;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_right_img {
    margin: 0 auto;
    width: 50%;
    display: flex;
}

.homeSection {
    min-height: 90vh;
    margin-top: 70px!important;
}
.left_footer h4 {
    font-family: 'Montserrat';
    font-size: calc(15px + .5vw);
}
.left_footer p a {
    color: rgba(41, 199, 172, 1);
    padding: 8px;
    display: block;
    text-transform: lowercase;
}
.learn_more_link{
  color: rgba(41, 199, 172, 1);
}

.home_button .video_play_btn {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4px 29px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
}
.home_button .video_play_btn:hover{
  border: 1px solid rgba(41, 199, 172, .9);
  color: #fff;
}

.home_button .video_play_btn span {
    margin-left: 10px;
}

.home_button {
    display: flex;
    align-items: center;

}

.home_button .video_play_btn{
    margin-left: 20px;
}

.home_button .video_play_btn .play-btn {
  width: 50px;
  height: 50px;
  margin: 0;
  background: radial-gradient(rgba(41, 199, 172, 1) 50%, rgba(41, 199, 172, .4) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.home_button .play-btn i{
  font-size: 20px;
}
.home_button .video_play_btn .play-btn::before {
  content: "";
  width: 60px;
  height: 60px;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(41, 199, 172, .7);
  top: -6px;
  left: -6px;
}

.share_btn.open_card.theme_4{
  display: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(41, 199, 172, 1)!important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(41, 199, 172,.25)!important;;
}

.bounce  {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
} 

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.home_right_test p {
    font-size: calc(15px + .3vw);
    text-align: justify;
    margin-top: 15px;
}
.home_top_banner {
    padding: 109px 0 50px 0;
}

/* end home page banner #hero section
================================================== */

/* cookies btn
================================================== */
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 10px 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}
.cookie-container p{
  margin-top: 5px;
  color: #fff!important;
}
.cookie-container a {
  color: rgb(3, 127, 255)!important;
  text-decoration: underline;
}

.cookie-container.active {
    display: flex;
    z-index: 99999;
}


.cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 0px 25px;
    font-size: 15px;
    margin-bottom: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 20px;
}
/* cookies btn
================================================== */



/* home Rating
================================================== */
/*   rating
================================================== */

.rating_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    padding: 10px;
}

.comments_area {
    padding: 10px;
    border: 1px solid #ddd;
}
.rating_content{
  margin-bottom: 10px;
}
span.time_ago {
    color: #777;
    font-size: 13px;
    margin-left: 10px;
}
.star_area i.fa.fa-star{
  color: #FF912C;
}

.star_area i.fa.fa-star-o{
  color: #F2B827;
}
.rating_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.select_rating {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.select_rating span {
    flex: 0 0 60px;
    display: inline-block;
    margin-right: 11px;
}

.rating_button a {
}
.review_section{
  min-height: 100vh;
}
.author_rating {
    padding: 5px;
    background: #f8f8f8;
}

.sction_title {
    text-align: center;
    position: relative;
    padding: 20px 15px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.sction_title::before {
    content: "";
    position: absolute;
    width: 5px;
    left: 50%;
    bottom: 0;
    width: 16%;
    height: 4px;
    background: #2ec1ac;
    transform: translateX(-50%);
}
.sction_title h4 {
    font-size: calc(22px + 1.0vw);
    font-family: 'Montserrat';
}

/*end home Rating
================================================== */

/*end menu*/

.whatsapp_share a {
    border: 1px solid #25D366;
    display: inline-block;
    padding: 10px 30px;
    background: rgba(74,201,89,1);
    color:#fff;
    border-radius: 2px;
    transition: all .3s ease-in-out
}
.whatsapp_share {
    margin-top: 20px;
    margin-bottom: 10px;
}

.whatsapp_share a:hover {
    background: rgba(74,201,89,.8);
}

.copyRight p{
  color: #a4acc4;
}
.copyRight {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 15px 0;
    border-top: 1px solid #2e344e;
}

/*  home page menu
================================================== */
.home_page_navbar{
  transition: all 0.5s ease;
}
#headers{
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 0.5s ease;
}
img.site_logo {
    height: 50px;
}
a.navbar-brand img.site_logo {
    height: 50px;
    max-width: 189px;
    padding: 10px;
    object-fit: contain;
    transform: scale(1.2);
}

.home_page_navbar nav li a {
    padding: 12px 10px!important;
    display: inline-block;
}


.right_bar a:hover {
    background: rgba(41, 199, 172, 1);
    border-color: rgba(41, 199, 172, 1);
    color: #fff;
}
.right_bar a {
    background: rgba(41, 199, 172, .1);
    color: rgba(41, 199, 172, 1);
    border: 1px solid rgba(41, 199, 172, 1);
    padding: 12px 30px;
    margin-right: 11px;
    transition: all .5s ease;
    border-radius: 4px;
}
.right_bar a.create_profile{
  background:rgba(41, 199, 172, 1);
  color: #fff;
}
.right_bar a.create_profile:hover{
  background: rgba(41, 199, 172, .1);
   color: rgba(41, 199, 172, 1);
    border: 1px solid rgba(41, 199, 172, 1);
}
.homeMenuNav {
    box-shadow: 0 0 5px #ddd;
}
.home_page_navbar nav li.active a,
.home_page_navbar nav li a:hover{
  color:rgba(41, 199, 172, 1)!important;
}

.homeTopMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #29c7ac;
    padding: 0 20px;
    height: 35px;
    display: none;
}

ul.left_top_menu {
    display: flex;
    align-items: center;
}

ul.right_top_menu {
    display: flex;
    align-items: center;
}

ul.left_top_menu li a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 5px 13px;
}

ul.right_top_menu li a {
    display: block;
    padding: 5px 10px;
}

ul.right_top_menu li a i {
    color: #fff;
}
.bottom_down {
    text-align: left;
}

.bottom_down h4 {
    font-family: 'Montserrat';
    padding-bottom: 2px;
}

/*  home banner with search
================================================== */

/*  features area
================================================== */
.heading {
    color: #212121;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
.features-section {
    padding-top: 60px;
    padding-bottom: 50px;
}
.features-heading {
    padding: 30px 0 80px 0;
    text-align: center;
}
.features-heading h2 {
    color: #212121;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}
h2.heading-text::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 35%;
    background: rgba(41, 199, 172, 1);
    bottom: 0;
    left: 25%;
    transform: translateX(22%);
}
.features-heading p {
    color: #212121;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    padding: 10px 30px;
}
.features-wrap {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 16px 5px 13px;
    display: flex;
    justify-content: space-between;
    transition: all .4s ease-out;
}
.features-wrap:hover {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 7px 10px -3px #ddd;
    transition: all .4s ease-out;
}
.features-img img {
    display: block;
    margin: 0px auto;
}
.features-wrap i{
  font-size: 40px;
  height: 60px;
  width: 60px;
  flex: 0 0 60px;
  text-align: center;
  line-height: 57px;
}

.features-wrap img{
  height: 60px;
  width: 60px;
  object-fit: cover;
  flex: 0 0 60px;

}

.features-wrap.left_wrap {
    text-align: right;
    padding-left: 3px;
}

.features-wrap.right_wrap {
    text-align: left;
    padding-right: 3px;
}

.features-wrap.left_wrap i,
.features-wrap.left_wrap img {
    margin-left: 20px;
}


.features-wrap.right_wrap i,
.features-wrap.right_wrap img {
    margin-right: 20px;
}
.features-content h4 {
    font-size: calc(13px + .15vw);
}

/* End features area
================================================== */

/* Start home services
================================================== */

.single_serivce_area {
    transition: 1s;
    margin-bottom: 30px;
    height: 305px;
    overflow: hidden;
    box-shadow: 0px 7px 6px 0px #eee;
    background: #fff;
}
.single_service {
    padding: 15px;
}
.home_service_img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

.single_serivce_area:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px  rgba(41, 199, 172, 1);
    transition: all .4s ease
    ;
}
.single_serivce_area .topIcon > i {
    border-radius: 50%;
    margin-top: 13px;
    font-size: 30px;
}
.single_service {
    display: flex;
    flex-direction: column;
}
.service_details h4{
  padding-bottom: 5px;
}
.service_details{
  padding-top: 10px;
}
.top_service h4 {
    font-size: 17px;
}

.top_service i {
    font-size: 25px;
    margin-right: 7px;
}

.home_service_mr {
    margin-bottom: 67px!important;
    box-shadow: 0 3px 4px #eee;
    padding: 10px 0;
}
.home_service_icon {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 12px;
}

.home_service_icon i {
    font-size: 27px;
    height: 70px;
    width: 70px;
    color:#fff;
    background: radial-gradient(rgba(41, 199, 172, 1) 60%, rgba(41, 199, 172, .4) 62%);;
    text-align: center;
    line-height: 2.6;
    border-radius: 100%;
}
.single_service {
    padding-top: 5px;
}
section.services_area.how_it_works{
  background: #f3f5fa;
}

.teamSections{
  background: #f3f5fa;
  padding-top: 100px;
  padding-bottom: 120px;
}
/* End Home services
================================================== */

/*    accordion
================================================== */
.accordion_content {
  border: 1px solid #f8f8f8;
  padding-top: 10px;
}
.page_accordion_header {
    background: #f3f5fa;
    color: #222;
    padding: 20px 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.arrow_up::after{
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
  transform: rotate(0deg);
  color: rgba(41, 199, 172, 1);
  transition: transform 200ms ease-in-out;
}

.arrow_down::after{
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
  transform: rotate(180deg);
  color: rgba(41, 199, 172, 1);
  transition: transform 200ms ease-in-out;
}

.accordion_content {
    background: #fff;
    color: #000;
    padding: 5px 10px 10px;
    border-top: 1px solid #eee;
    font-size: 14px;
    display: none;
}

.accordion{
  margin-bottom: 15px;
}

.single_accordion {
    margin-bottom: 12px;
}

.faq_images {
    min-height: 350px;
    max-height: 500px;
    width: 78%;
    overflow: hidden;
    margin: 0 auto;
}
.faq_images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* End faq
================================================== */

/* Home Team
================================================== */
.slider-nav .slick-arrow {
    background: transparent;
    border: 0;
    position: absolute;
    bottom: -45px;
    right: 0;
    height: 4px;
    outline: none;
    height: 30px;
    width: 30px;
    background: rgba(41, 199, 172, 1);
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    margin-right: 16px;
    z-index: 9;
}

.slider-nav .slick-arrow.slick-prev {
    display: block;
    color: #fff;
    right: 36px;
    cursor:pointer;
}

.slider-nav .slick-arrow.slick-next {
    right: 0;
    display: block;
    color: #fff;
    cursor:pointer;
}

.slider-nav.slick-slide.slick-active{
    outline: none;
}
.slider-nav.slick-slide{
    outline: none;
}

.slick-slide {
    outline: none!important;
}

.service_home_img {
  height: 250px;
}
.service_home_title h4 {
  padding-bottom: 15px;
}
.service_home_details p {
  line-height: 27px;
}
.row_reverse {
    flex-direction: row-reverse;
}
.mtb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.team_details {
    background: #fff;
    padding: 9px 10px 10px;
}
.single_team {
    min-width: 320px;
    padding: 0 13px;
}
.slick-slide.slick-active{
    outline: none;
}
/*  Home page footer
================================================== */
.footer_area {
    background: #f8f8f8;
    color: #5e5e5e;
}
.left_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  text-align: center;
  
}
.left_footer ul {
  display: flex;
}
.left_footer ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  color: #777;
}
.left_footer ul li a:hover{
    color: rgba(41, 199, 172, 1);
}
.footer_bottom {
    padding: 10px 0;
    background:#f6f6f6;
}
ul.row_ul {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-top: 10px;
}

ul.row_ul li a {
    padding: 1px 10px;
    font-size: 15px;
}
ul.row_ul li a i{
  color: rgba(41, 199, 172, 1);
}

/* start login
================================================== */

.signupSection {
    position: relative;
}
/*.login_wrapper {
    padding: 0 80px;
}*/
.left_login_page.login_banner {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-attachment: fixed!important;
    background-size: cover!important;
    position: fixed;
    width: 40%;
    justify-content: center;
}
.left_login_page.login_banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(41, 199, 172, .3);
}
.left_top_login h4{
  margin-bottom: 10px;
}
.left_top_login {
    z-index: 3;
    padding: 0 calc(20px + 2vw);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_form_login {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin-top: 0px;
}
.forgetPassword{
    justify-content: center;
}
.topSigin {
    display: flex;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}
.form_content{
    padding: 0 calc(30px + 14vw);
}
.login_content{
  padding-top: 80px;
  width: 100%;
}

.form_content.signup {
    text-align: center;
    padding: 0 calc(20px + 9vw);
}
.user_login_header {
    margin-bottom: 40px;
    padding: 0 calc(10px + 13vw);
}
.login_form{
  text-align: left;
}
.login_form .form-control {
    height: 45px;
    border-radius: 0;
}

.login_form .btn {
    border-radius: 0;
    padding: 9px 30px;
    margin-top: 10px;
}


/* end login
================================================== */

/* start pricing 2
================================================== */
.bg-gradient {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF)
}

.pricing_2 ul li {
    margin-bottom: 1.4rem
}

.pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 4em;
    position: relative
}
.pricing-divider {
}

.pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px
}

.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s
}

.btn-custom {
    background: #C64545;
    color: #fff;
    border-radius: 20px
}

.img-float {
    width: 50px;
    position: absolute;
    top: -3.5rem;
    right: 1rem
}

.princing-item {
    transition: all 150ms ease-out;
    margin-bottom: 20px;

}

.princing-item:hover {
    transform: scale(1.05)
}

.princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0)
}

.princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0)
}

.card-body.bg-white.mt-0.shadow {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

ul.list-unstyled.mb-5.position-relative {
    text-align: left;
}
h4.my-0.text-light.font-weight-normal.mb-3 {
    font-size: calc(25px + 2vw);
}

.list-unstyled{
    text-align: left;
}


/* start pricing 3
================================================== */
.pricing_3 .card {
  border: none;
  border-radius: 0;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px!important;
}

.pricing_3 hr {
  margin: 1.5rem 0;
}

.pricing_3 .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing_3 .card-price {
    font-size: calc(15px + 1vw);
    margin: 0;
}

.pricing_3 .card-price .period {
  font-size: 1.2rem;
}
.signupCard{
  margin-top: -30px;
}

.pricing_3 ul li {
  margin-bottom: 1rem;
}

.pricing_3 .text-muted {
  opacity: 0.7;
}

.pricing_3 .btn.price_btn {
  font-size: 80%;
  border-radius:0;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  background: rgba(41, 199, 172, 1);
  border-color: rgba(41, 199, 172, 1);
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing_3 .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing_3 .card:hover .btn {
    opacity: 1;
  }
}

.form_content.signup.with_package {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_package_details_signup.with_package {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    width: 100%;
}
.left_package_details_signup.with_package.pricing_3 .card{
  background: #f8f8f8;
  margin-right: 10px;
  box-shadow: none;
}
.left_package_details_signup.with_package.pricing_3 .card .fa-ul{
  padding-left: 0px;
  padding-right: 40px;
  text-align: left;
}



.bg_white{
    background: #fff;
}
/*   end pricing
================================================== */


/**
  ***  home search
**/ 

.banner_img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.home_search_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_search_area input {
    height: 50px;
    border-radius: 0;
    outline: none;
    border: 0;
}

.home_search_area 
.btn {
    border-radius: 0;
    height: 50px;
    width: 69px;
    padding: 10px;
    border: 0;
    background: #fff;
    color: #777;
}
.home_search_area 
.btn:hover{
    color: #000;
}

.home_search_area .btn i {
    font-size: 24px;
}
form.home_search_form {
    width: 38%;
}
.single_users {
    margin-top: 10px;
    box-shadow: 0px 0px 5px #eee;
    margin-bottom: 10px;
    height: 336px;
    overflow: hidden;
}
.qr_area{
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.banner_text {
    width: 38%;
    color: #fff;
    margin-bottom: 10px;
}

.users_banner_area.home_banner {
    height: 100vh;
    z-index: 5;
}
.users_banner_area.home_banner p {
  color: #fff;
  width: 50%;
  text-align: center;
  margin: 10px auto;
}

.custom-file.home_search_area {
  position: relative;
}



.single_user_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.home_user_profile {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #037fff;
}
.user_social_sites ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.user_social_sites ul li a {
    color: #777;
    height: 35px;
    width: 35px;
    display: inline-block;
    border: 0;
    margin: 0 5px;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
    border-radius: 0;
    transition: .5s;
    margin-bottom: 14px;
}
.user_social_sites ul li a:hover{
    color: #037fff;
    transition: .5s;
}
.single_user_body {
  text-align: center;
  /*background: #eee;*/
  padding: 10px 5px;
  padding-top: 0;
}

.users_section{
    min-height: 100vh;
}

.user_right_btn_area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.user_right_btn_area .form-control, .user_right_btn_area .c_btn {
    border-radius: 0;
    height: 46px!important;
    margin-right: 11px;
    outline: none;
}
.formAreasearch, .rightSearch {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.formAreasearch{
    justify-content: space-between;
}
.users_section.homeSection.mt-150 {
    padding-top: 27px;
}

.leftSearch {
    margin: 7px 0 14px 0;
}
.users_banner_area {
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    color: #fff;
    position: relative;
    
}
.users_banner_area::before {
    background: rgba(0,0,0,.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    position: absolute;
}
.user_type {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.user_type span {
  background: #037fff;
  margin: 2px;
  color: #fff;
  border-radius: 14px;
  padding: 2px 8px;
}
.user_banner_wrapper {
    text-align: center;
    z-index: 9;
    width: 100%;
}
.user_banner_wrapper h4{
    color: #fff!important;
    font-family: Boogaloo;
}

.profile_btn {
    background: #fff;
    border: 1px solid rgba(41, 199, 172, 1);
    display: inline-block;
    margin: 10px 0 20px 0;
    padding: 6px 12px;
    border-radius: 0;
    transition: .5s;
    color: #333;
    font-family: 'rubik';
    font-size: 14px;
}
.profile_btn:hover {
    background: rgba(41, 199, 172, 1);
    transition: .5s;
    color: #fff;
}
.username {
    font-family: 'Montserrat';
    font-size: 19px;
}
.single_user_top label {
    margin-top: -7px;
}

.users_banner_area.home_banner {
    height: 100vh;
    z-index: 5;
}
.users_banner_area.home_banner p {
  color: #fff;
  width: 50%;
  text-align: center;
  margin: 10px auto;
}

.custom-file.home_search_area {
  position: relative;
}
.cd-headline.clip.typing_data.home_search_type {
  font-size: 24px;
  padding: 5px 10px;
  font-family: Boogaloo;
}
.search_typing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.user_type{
    margin-top: 26px;
}
.user_type .form-control {
    border-radius: 0;
    height: 46px;
    border:1px solid #777;
    background: transparent;
    color: #fff;
}
.user_type button {
    height: 46px;
    margin-top: -4px;
    padding: 10px 27px;
    background: transparent;
    /*border: 0;*/
    color: #fff;
    transition: 1s;
    font-size: calc(15px + .2vw);
}
.user_type button:hover{
    transition: 1s;
}


.user_type .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.user_type .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.user_type .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.device-wrapper{
  margin: 0 auto;
}

.device-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;

}
.html5-video-player a {
    display: none!important;
}
.ytp-chrome-top.ytp-show-cards-title {
    display: none!important;
}
iframe:hover .ytp-autohide .ytp-watermark{
  display: none;
}
.screen::before {
    background: #000;
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 999999;
    position: absolute;
    border-radius: 15px;
}


.screen::after {
    background: #000;
    height: 56px;
    width: 100%;
    top: auto;
    z-index: 999999;
    position: absolute;
    border-radius: 50px;
    bottom: 0px;
}
.features-content p{
  font-size: 15px;
}
.terms_page {
  padding-top: 120px;
    min-height: 65vh;
}
.home_contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.device{
  transform: scale(.8);
}
.team_header img {
    height: 358px;
}

.heroWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qrImg {
    height: 150px;
    width: 150px;
}

.rightHero {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 40px 0;
}

.rightHero h4 {
    font-family: 'Montserrat';
    padding-bottom: 10px;
    font-size: 15px;
}
.home_banner {
    width: 100%;
    background-attachment: fixed!important;
    background-position: left center !important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_baner_content {
    position: relative;
    z-index: 9;
    color: #fff;
}
input.form-control.checkUsername {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    color: #fff;
    padding-left: 0;
}
input.form-control.checkUsername:focus {
  background-color: transparent;
  outline: none;
}
input.form-control.checkUsername:-webkit-autofill, input.form-control.checkUsername:-webkit-autofill:hover, input.form-control.checkUsername:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.form-group.resturant_name {
    display: flex;
    align-items: center;
}

.form-group.resturant_name button {
    background: green;
    color: #fff;
    padding: 3px 20px;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: -4px;
}
.resturant_name .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.resturant_name .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.resturant_name .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.heroSearch{
  color: #fff!important;
}

.resturant_name .form-control:focus{
  box-shadow: none!important;
  outline: none;

}
.alert_msg.heroSearch, .heroSearch.searching::after {
    color: #fff!important;
}
.pb-10{
  padding-bottom: 10px;
}
section.hero-banner.home_section.home_banner.video_banner {
    padding: 50px 0;
}

.not_found_page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invalid_text img {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 14px;
}

.invalid_text {
    text-align: center;
}

.invalid_text h4 {
    font-size: calc(15px + .4vw);
    font-family: cursive;
    margin-bottom: 7px;
}

.invalid_text p {
    font-size: 17px;
    font-family: sans-serif;
}

.invalid_text a {
    font-size: 17px;
    background: rgba(41, 199, 172, 1);
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 12px;
    text-decoration: none;
    font-family: sans-serif;
}
.home_right_test h4 {
    margin-bottom: 14px;
}
.device-wrapper{
  margin: 0 auto;
  margin-top: -50px;
}
div#hero::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -50px;
    right: 0;
    height: 87px;
    background: #fff;
    transform: skewY(-2deg);
}

.home_left_img {
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    padding: 10px;
}
.home_left_img img{
  height: auto;
  width: auto;
}
/*----------------------------------------------
1.8
----------------------------------------------*/
.single_user_top label {
    background: #29c7ac;
}
.othersLogin ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.othersLogin ul li {
    display: block;
}

.othersLogin ul li a {
    color: #777;
    padding: 10px;
    display: block;
    text-decoration: underline;
}

.othersLogin ul li a:hover {
    color: rgba(41, 199, 172, 1);
}
.user_login_header img {
    height: 100px;
    width: 100px;
    margin: 20px auto;
    display: block;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0 0 5px #eee;
}
.right_form_login.signup{
    justify-content: center;
}
/*----------------------------------------------
    VERSION 1.9
----------------------------------------------*/
.nearbyArea {
    display: flex;
}
.searchInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.searchInput .user_right_btn_area {
    flex: 0 0 98px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.searchInput .user_right_btn_area button {
    margin: 0;
     border-radius: 0 5px  5px 0;
}

.searchInput input {
    height: 46px;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
}

section.nearbySection {
    padding: 80px 0;
}
.findNearby{
    flex:  0 0 200px;
}
.findNearby button{
    height: 46px;
    border-radius: 5px;
    margin-left: 10px;
}
.singleShop {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
     box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
     padding: 0 10px;
     border-radius: 5px;
     background: #fff;
     min-height: 90px;
}

.leftShopImg {
    flex: 0 0 80px;
    margin-right: 10px;
    height: 80px;
}

.shopInfo h4 {
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}

.shopInfo p {
    font-size: 14px;
}

.shopInfo {
    border-bottom: 1px dashed #ddd;
    padding: 8px 0;
}

.shopBottom ul {
    display: flex;
    align-items: center;
    padding: 7px 0;
    justify-content: space-between;
}
div#errorMsg {
    padding: 5px;
    color: tomato;
}
.shopBottom ul li {
    font-size: 12px;
}
.restaurantList{
    margin-top: 30px;
}
.restaurantList a{
    color: #777;
}
.righShopDetails {
    width: 100%;
}
.nearbySection{
    background: #f3f5f9;
}
.popularItem .homeSingle_item{
    margin-bottom: 15px;
}




.singleShop.singleShopItem {
    flex-direction: column;
    padding: 0;
}

.singleShop.singleShopItem .leftShopImg {
    height: 191px;
    width: 100%;
    flex: inherit;
    margin: 0;
    border-radius: 5px 5px 0 0;
}
.singleShop.singleShopItem  .shop_info {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.singleShop.singleShopItem  .shop_info > img {
    height: 40px;
    width: 40px;
    margin-right: 7px;
}
.singleShop.singleShopItem  .shop_info h4{
    font-size: 15px;
}
.singleShop.singleShopItem  .shopInfo {
    padding: 4px 10px;
}

.singleShop.singleShopItem  .shopBottom {
    padding: 3px 10px;
}
.shopInfo .itemTitle{
    padding-top: 5px;
}
.shopBottom.shopDeatils_thumb ul {
    margin: 0;
    padding: 0;
}

.shopBottom.shopDeatils_thumb {
    margin: 3px 0 0 0;
    padding: 0!important;
}

.shopBottom.shopDeatils_thumb li {
    margin-right: 9px;
}
.itemHeading h4 {
    font-size: 18px;
    display: block;
    padding: 9px 0;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 13px;
    font-family: 'Josefin Sans', sans-serif;
}
.homePopular.pb-80{
    padding-bottom: 80px;
}
.restaurantList{
    min-height: 250px;
}
.load::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../../assets/frontend/images/loader.svg');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
    background-color: #f3f5f9;
   
    
}
.load{
    background: #f3f5f9;
    z-index: 2;
    height: 250px;
    position: relative;
    box-shadow: none;
}
.footerLogo {
    height: 40px;
    margin-bottom: 10px;
}
