/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  .form_content {
	width: 99%;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
 .sm-container{
 	padding-left: 0;
 	padding-right: 0;
 }

 .form_content {
	background: #ffffff;
	border: 1px solid #ccc;
	margin: 3% auto;
	padding: 2% 4% 5%;
	width: 99%;
}

.single_top_user_section {
	margin-top: 30%;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}